.GeneratedCommand {
    border: 2px black solid;
    padding: 10px;
    font-family: Inconsolata, monospace;
    font-size: 24pt;
    text-align: center;
    user-select: all;
}

.GeneratedCommand:hover .fileNameSubmitBtn {
    visibility: visible;
}

.fileNameSubmitBtn {
    visibility: hidden;

    width: 100px;
    height: 42px;
    margin-left: 5px;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    font-family: Calibri, sans-serif;
    float: right;
}

.code {
	display:inline-block;
}
